
<div class="navbar navbar-inverse navbar-fixed-top headroom" >
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand"><img src="../../assets/images/logo.png" alt="Progressus HTML5 template"></a>
    </div>
    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav pull-right">
        <li class="active"><a routerLink="/">{{ 'header.home' | translate }}</a></li>
        <li><a routerLink="/postcards">{{ 'header.postcards' | translate }}</a></li>
        <li class="dropdown">
          <a routerLink="/" class="dropdown-toggle" data-toggle="dropdown">{{ 'header.more_pages' | translate }}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/questions">{{ 'header.questions' | translate }}</a></li>
            <li><a routerLink="/gallery">{{ 'header.gallery' | translate }}</a></li>
          </ul>
        </li>
        <li><a routerLink="/contacts">{{ 'header.contact' | translate }}</a></li>
        <li><a class="btn" routerLink="/signin">{{ 'header.sign_in_sign_up' | translate }}</a></li>
        <li class="dropdown-toggle">
          <a routerLink="/" data-toggle="dropdown">{{ 'header.language' | translate }}
            <span class="caret"></span></a>
          <ol class="dropdown-menu">
            <li><a href="#" (click)=localeToEng()>Eng</a></li>
            <li><a href="#" (click)=localeToEst()>Est</a></li>
            <li><a href="#"(click)=localeToRus()>Rus</a></li>
          </ol></li>
      </ul>
    </div>
  </div>
</div>
