
<header id="head" class="secondary"></header>
<div class="main-menu">

<div class="container">

  <ol class="breadcrumb">
    <li><a href="#">{{ 'signin.home' | translate }}</a></li>
    <li class="active">{{ 'signin.signin' | translate }}</li>
  </ol>

  <div class="row">
    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
      <header class="page-header">
        <h1 class="page-title">{{ 'signin.sign_in' | translate }}</h1>
      </header>

      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">{{ 'signin.your_account' | translate }}</h3>
            <p class="text-center text-muted">{{ 'signin.dont_have' | translate }} <a routerLink="/signup">{{ 'signin.register' | translate }}</a>! </p>
            <hr>

            <form>
              <div class="top-margin">
                <label>{{ 'signin.username' | translate }} <span class="text-danger">*</span></label>
                <input type="text" class="form-control">
              </div>
              <div class="top-margin">
                <label>{{ 'signin.password' | translate }} <span class="text-danger">*</span></label>
                <input type="password" class="form-control">
              </div>

              <hr>

              <div class="row">
                <div class="col-lg-8">
                  <b><a href="">{{ 'signin.forgot' | translate }}</a></b>
                </div>
                <div class="col-lg-4 text-right">
                  <button class="btn btn-action" type="submit">{{ 'signin.sign' | translate }}</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>

    </article>
    <!-- /Article -->

  </div>


</div>


</div>

