<header id="head" class="secondary"></header>
<div class="main-menu">
<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <li><a href="#">{{ 'questions.home' | translate }}</a></li>
    <li class="active">{{ 'questions.questions' | translate }}</li>
  </ol>

  <div class="row">
<article class="col-md-8 maincontent">
  <header class="page-header">
    <h1 class="page-title">{{ 'questions.frequently' | translate }}</h1>
  </header>
  <h3>{{ 'questions.who_is_usually' | translate }}</h3>
  <p>{{ 'questions.the_answer' | translate }}</p>
<p>{{ 'questions.that_is_why' | translate }}</p>

  <h3>{{ 'questions.on_what' | translate }}</h3>
  <p>{{ 'questions.it_is_difficult' | translate }}</p>
  <p>{{ 'questions.also' | translate }}</p>

<h3>{{ 'questions.how_long' | translate }}</h3>
  <p>{{ 'questions.depends' | translate }}</p>


</article>
<!--<aside class="col-md-4 sidebar sidebar-left">-->

  <!--<div class="row widget">-->
    <!--<div class="col-xs-12">-->
      <!--<h4>Lorem ipsum dolor sit</h4>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, ratione delectus reiciendis nulla nisi pariatur molestias animi eos repellat? Vel.</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row widget">-->
    <!--<div class="col-xs-12">-->
      <!--<h4>Lorem ipsum dolor sit</h4>-->
      <!--<p><img src="../../assets/images/1.jpg" alt=""></p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row widget">-->
    <!--<div class="col-xs-12">-->
      <!--<h4>Lorem ipsum dolor sit</h4>-->
      <!--<p><img src="../../assets/images/2.jpg" alt=""></p>-->
      <!--<p>Qui, debitis, ad, neque reprehenderit laborum soluta dolor voluptate eligendi enim consequuntur eveniet recusandae rerum? Atque eos corporis provident tenetur.</p>-->
    <!--</div>-->
  <!--</div>-->

<!--</aside>-->
  </div>
</div>
</div>
