<header id="head" class="secondary"></header>
<div class="main-menu">
<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li class="active">Questions</li>
  </ol>

  <div class="row">
<article class="col-md-8 maincontent">
  <header class="page-header">
    <h1 class="page-title">Frequently asked Questions.</h1>
  </header>
  <h3>Who is usually given boom cards with a photo?</h3>
  <p>The answer is absolutely everyone! Photo boom cards are really quite versatile as an addition to the main gift. They are given to men and women, adults and children. That's right - boom cards are suitable for children's events because they are completely safe.</p>
<p>That is why a boom-card can be bought for any person. It can be given to a friend or relative, an acquaintance or even your boss. It is only important that the person to whom you give such a card understands humor and you have a good relationship. That is, someone may regard such a gift as a manifestation of familiarity, and in fact this is the only purely subjective restriction in terms of using boom cards</p>

  <h3>On what holidays is it better to give boom cards?</h3>
  <p>It is difficult to come up with a situation in which an exploding postcard would be inappropriate. Wherever gifts appear and where you want to pleasantly surprise a person, show that you thought about him and tried to do something original, a boom postcard with a photo will come in handy. For example, such cards are most often given for birthdays, as well as for weddings and graduations. It can be some kind of personal event, for example, the first edition of a book, a victory in sports competitions.</p>
  <p>Also, exploding postcards are great for corporate events in an informal setting. They can be given to subordinates and managers, the main thing - again - is that the boss understands humor. A boom card with a photo can be given for Valentine's Day or some kind of family holiday. As we have already said, the postcard itself can hardly be a gift, but it is better not to think of it as a spectacular addition!</p>

<h3>How long after ordering can I receive a postcard?</h3>
  <p>Depends if you order via Smartpost, Dpd or pick up yourself. In the first case, it is 1-3 business days. If you decide to pick it up yourself, then the order will be ready (depending on the complexity) possibly the next day.</p>


</article>
<!--<aside class="col-md-4 sidebar sidebar-left">-->

  <!--<div class="row widget">-->
    <!--<div class="col-xs-12">-->
      <!--<h4>Lorem ipsum dolor sit</h4>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, ratione delectus reiciendis nulla nisi pariatur molestias animi eos repellat? Vel.</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row widget">-->
    <!--<div class="col-xs-12">-->
      <!--<h4>Lorem ipsum dolor sit</h4>-->
      <!--<p><img src="../../assets/images/1.jpg" alt=""></p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row widget">-->
    <!--<div class="col-xs-12">-->
      <!--<h4>Lorem ipsum dolor sit</h4>-->
      <!--<p><img src="../../assets/images/2.jpg" alt=""></p>-->
      <!--<p>Qui, debitis, ad, neque reprehenderit laborum soluta dolor voluptate eligendi enim consequuntur eveniet recusandae rerum? Atque eos corporis provident tenetur.</p>-->
    <!--</div>-->
  <!--</div>-->

<!--</aside>-->
  </div>
</div>
</div>
