

<header id="head" class="secondary"></header>
<div class="main-menu">
<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <li><a href="index.html">{{ 'contact.home' | translate }}</a></li>
    <li class="active">{{ 'contact.contact' | translate }}</li>
  </ol>

  <div class="row">

  <!-- Article main content -->
    <article class="col-sm-9 maincontent">
      <header class="page-header">
        <h1 class="page-title">{{ 'contact.contact_us' | translate }}</h1>
      </header>

      <p>
        {{ 'contact.hear_from_you' | translate }}
      </p>
      <br>
      <form>
        <div class="row">
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="Name">
          </div>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="Email">
          </div>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="Phone">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <textarea placeholder="Type your message here..." class="form-control" rows="9"></textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-6">
            <label class="checkbox"><input type="checkbox">{{ 'contact.newsletter' | translate }}</label>
          </div>
          <div class="col-sm-6 text-right">
            <input class="btn btn-action" type="submit" value="Send message">
          </div>
        </div>
      </form>
    </article>
    <aside class="col-sm-3 sidebar sidebar-right">
      <div class="widget">
        <h4>{{ 'contact.adress' | translate }}</h4>
        <address>
          ESTONIA, Tallinn
        </address>
        <h4>Phone:</h4>
        <address>
          +3725555555
        </address>
      </div>
    </aside>
  </div>

<section class="container-full top-space">
  <div id="map"></div>
</section>
</div>
</div>




