<header id="head">
  <div class="container">
    <div class="row">
      <h1 class="lead">{{ 'main.awesome_surprise' | translate }}</h1>
      <p class="tagline">{{ 'main.create_a_personal' | translate }}</p>
      <p>
        <!--<a class="btn btn-default btn-lg" role="button">MORE INFO</a>-->
        <a class="btn btn-action btn-lg" role="button" routerLink="/create-postcard">{{ 'main.create_postcard' | translate }}</a>
      </p>
    </div>
  </div>
</header>
<div class="container text-center">
  <br> <br>
  <h2 class="thin">{{ 'main.an_excellent_chance' | translate }}</h2>
  <p class="text-muted">
    {{ 'main.all_you_need' | translate }}
  </p>
</div>

<div class="row">
  <div class="col-md-3 col-sm-6 highlight">
    <div class="h-caption">
      <h4><i class="fa fa-briefcase" style="font-size:48px"></i>{{ 'main.colleagues_at_work' | translate }}</h4>
    </div>
    <div class="h-body text-center">
      <p>{{ 'main.down_with_impersonal' | translate }}</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 highlight">
    <div class="h-caption">
      <h4><i class="fa fa-gift" aria-hidden="true"></i>{{ 'main.birthday' | translate }}</h4>
    </div>
    <div class="h-body text-center">
      <p>{{ 'main.birthday_girl' | translate }}</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 highlight">
    <div class="h-caption">
      <h4><i class="fa fa-heart-o" aria-hidden="true"></i>{{ 'main.to_please' | translate }}</h4>
    </div>
    <div class="h-body text-center">
      <p>{{ 'main.your_mother' | translate }}</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 highlight">
    <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>{{ 'main.confessing' | translate }}</h4></div>
    <div class="h-body text-center">
      <p>{{ 'main.an_ideal_gift' | translate }}</p>

    </div>
  </div>
</div>
