<header id="head">
  <div class="container">
    <div class="row">
      <h1 class="lead">AWESOME SURPRISE</h1>
      <p class="tagline">Create your own postcard</p>
      <p>
        <a class="btn btn-default btn-lg" role="button">MORE INFO</a>
        <a class="btn btn-action btn-lg" role="button">Create your postcard</a>
      </p>
    </div>
  </div>
</header>
<div class="container text-center">
  <br> <br>
  <h2 class="thin">AN EXCELLENT CHANCE TO SURPRISE YOUR LOVED ONES WITH A PERSONAL POSTCARD</h2>
  <p class="text-muted">
    All you need is to find photos of you or your loved ones (from 4-8) and write your wishes to them.
  </p>
</div>

<div class="row">
  <div class="col-md-3 col-sm-6 highlight">
    <div class="h-caption">
      <h4><i class="fa fa-briefcase" style="font-size:48px"></i>COLLEAGUES AT WORK</h4>
    </div>
    <div class="h-body text-center">
      <p>Down with impersonal presents – turn your corporate gifts into personal ones!</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 highlight">
    <div class="h-caption">
      <h4><i class="fa fa-gift" aria-hidden="true"></i>BIRTHDAY</h4>
    </div>
    <div class="h-body text-center">
      <p>The birthday girl will certainly appreciate the magnificent postcard presented from the heart.</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 highlight">
    <div class="h-caption">
      <h4><i class="fa fa-heart-o" aria-hidden="true"></i>TO PLEASE YOUR LOVED ONES</h4>
    </div>
    <div class="h-body text-center">
      <p>Your mother, grandmother or sister will be happy to receive such a sweet and warm gesture from your.</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 highlight">
    <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>CONFESSING YOUR LOVE TO SOMEONE</h4></div>
    <div class="h-body text-center">
      <p>An ideal gift to congratulate the bride on the most important day in her life. </p>

    </div>
  </div>
</div>
