<header id="head" class="secondary"></header>
<div class="main-menu">
<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <li><a href="#">{{ 'gallery.home' | translate }}</a></li>
    <li class="active">{{ 'gallery.gallery' | translate }}</li>
  </ol>

  <div class="gallery">
    <a target="_blank" href="../../assets/images/1.jpg">
      <img src="../../assets/images/1.jpg" alt="Cinque Terre" width="500" height="325">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="../../assets/images/1.jpg">
      <img src="../../assets/images/1.jpg" alt="Forest" width="500" height="325">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="../../assets/images/1.jpg">
      <img src="../../assets/images/1.jpg" alt="Northern Lights" width="500" height="325">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="../../assets/images/1.jpg">
      <img src="../../assets/images/1.jpg" alt="Mountains" width="500" height="325">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>


</div>
</div>
