<header id="head" class="secondary"></header>
<div class="main-menu">
<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li class="active">Gallery</li>
  </ol>

  <div class="row widget">
    <div class="col-xs-12">
      <h4></h4>
      <p></p>
    </div>
  </div>
  <div class="row widget">
    <div class="col-xs-12">
      <h4></h4>
      <p><img src="../../assets/images/1.jpg" alt=""></p>
    </div>
  </div>
  <div class="row widget">
    <div class="col-xs-12">
      <h4></h4>
      <p><img src="../../assets/images/2.jpg" alt=""></p>
      <p></p>
    </div>
  </div>


</div>
</div>
