<header id="head" class="secondary"></header>
<div class="main-menu">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#">{{ 'gallery.home' | translate }}</a></li>
        <li class="active">{{ 'gallery.gallery' | translate }}</li>
      </ol>
      <article class="col-sm-8 maincontent">
        <header class="page-header">
          <h1 class="page-title"></h1>
        </header>
        <div class="gallery">
          <a target="_blank" href="../../assets/images/boom.jpg">
            <img src="../../assets/images/boom.jpg" alt="Cinque Terre" width="500" height="325">
          </a>
          <div class="desc">Happy Birthday</div>
        </div>

        <div class="gallery">
          <a target="_blank" href="../../assets/images/boom4.jpg">
            <img src="../../assets/images/boom4.jpg" alt="Forest" width="500" height="325">
          </a>
          <div class="desc">Others</div>
        </div>
      </article>


    </div>
  </div>
</div>
