<header id="head" class="secondary"></header>

<div class="main-menu">
  <!-- container -->
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">basket</li>
    </ol>
  </div>


  <header class="page-header">
    <h1 class="page-title"></h1>
  </header>

  <div class="shopping-cart">
    <!-- Title -->
    <div class="title">
      Shopping Bag
    </div>


    <div class="item" *ngFor="let comment of comments">
      <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
      </div>

      <div class="image">
        <img src="../../assets/images/postcard1.jpg" alt=""/>
      </div>

      <div class="description">
        <span>Bpostcards</span>
        <span>with pictures</span>
        <span>{{comment}}</span>

      </div>

      <div class="quantity">
        <button class="plus-btn" (click)="plus()" type="button" name="button">
          <img src="../../assets/images/plus.png" alt=""/>
        </button>
        <input type="text" [value]="quantity">
        <button class="minus-btn" (click)="minus()" type="button" name="button">
          <img src="../../assets/images/minus.png" alt=""/>
        </button>
      </div>

      <div class="total-price">5$</div>
    </div>

      <div class="total-price"></div>

      <div>
        <button class="prev">pay</button>

      </div>

  </div>
</div>
