<header id="head" class="secondary"></header>

<div class="main-menu">

  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">{{ 'create-postcard.home' | translate }}</a></li>
      <li class="active">{{ 'create-postcard.create' | translate }}</li>
    </ol>
  </div>

  <header class="page-header">
    <h1 class="page-title"></h1>
  </header>
  <div class="options">
    <h2>{{ 'create-postcard.instructions' | translate }}</h2>

    <p>{{ 'create-postcard.each' | translate }}</p>
    <p>{{ 'create-postcard.its_possible' | translate }}</p>
    <p>{{ 'create-postcard.write_comments' | translate }}</p>

  </div>


  <div class="options">
    <ngx-slick-carousel class="carousel" margin-right:100px
                        #slickModal="slick-carousel"
                        [config]="slideConfig"
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="" width="200">
        <input class="input" type="file">
      </div>
    </ngx-slick-carousel>
    <div>
      <h2 class="comments">{{ 'create-postcard.other' | translate }}</h2>
      <p>{{ 'create-postcard.standart' | translate }}</p>
      <p>{{ 'create-postcard.choose_number' | translate }}</p>
      <input class="textarea" type="text">
      <img src="../../assets/images/postcard.jpg" alt="" class="img-right" width="200">
    </div>
    <div>
      <button class="prev" (click) = "addToBasket()">Add to basket</button>

    </div>
  </div>
</div>
