<header id="head" class="secondary"></header>

<div class="main-menu">
  <!-- container -->
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Create postcard</li>
    </ol>
  </div>
	<!-- /container -->


    <header class="page-header">
      <h1 class="page-title"></h1>
    </header>
  <div class="options">
    <h2>Instructions</h2>

    <p>Each card contains 2 cubes. You need to choose 4 photos for each side.</p>
     <p> It is also possible to change the text (for example: "Congratulations" to "Best wishes")</p>
    <p>You can write it in Comments.</p>

  </div>


  <div class="options">
  <ngx-slick-carousel class="carousel" margin-right:100px
                      #slickModal="slick-carousel"
                      [config]="slideConfig"
                      (init)="slickInit($event)"
                      (breakpoint)="breakpoint($event)"
                      (afterChange)="afterChange($event)"
                      (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img src="{{ slide.img }}" alt="" width="200">
      <input class="input" type="file">
    </div>
  </ngx-slick-carousel>
    <div>
      <h2 class="comments">Comments: </h2>
      <p>There is a 4 standart wishes on the four sides: 1."Congratulations",2."Be Happy",3."You are the best",4."Love ya!"</p>
      <p>If you would like to change one of this, please choose the number and write yours.(Example: 1.For my best friend!)</p>
   <input class="textarea" type="text">
     <img src="../../assets/images/postcard.jpg" alt="" class="img-right" width="200" >
    </div>
<div>
  <button class="prev" (click)="addSlide()">Add</button>
  <button class="prev" (click)="removeSlide()">Remove</button>
  <button class="prev" (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
  <button class="prev" (click)="slickModal.unslick()">unslick</button>
</div>
  </div>


  <!--&lt;!&ndash;<input type="file" class="file-input"&ndash;&gt;-->
         <!--&lt;!&ndash;(change)="onFileSelected($event)" #fileUpload>&ndash;&gt;-->

  <!--&lt;!&ndash;<div class="file-upload">&ndash;&gt;-->

    <!--&lt;!&ndash;{{fileName || "No file uploaded yet."}}&ndash;&gt;-->

    <!--&lt;!&ndash;<button mat-mini-fab color="primary" class="upload-btn"&ndash;&gt;-->
            <!--&lt;!&ndash;(click)="fileUpload.click()">&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<mat-icon>attach_file</mat-icon>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->


</div>
