.main-menu {

  margin-top: 100px;
}

.product{
  padding: 20px 0;
}



.prev{
  position: relative;
  /*left: 100px;*/
  top: 60%;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  /*transform: translate(-50%,-50%);*/
  transition-duration: 0.4s;
  margin-top: 100px;

}
.prev:hover {
  background-color: orange;
  color: white;
}
.options{
  margin-left: 190px;
  margin-top: 50px;
}
.input{
  background-color: orange;
  color: white;
margin-top: 20px;
}
.textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.img-right{
  margin-right: auto;
  padding: 20px;
}
.comments{
  margin-top: 100px;
}
