<header id="head" class="secondary"></header>
<div class="main-menu">
<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <li><a href="#">{{ 'signup.home' | translate }}</a></li>
    <li class="active">{{ 'signup.register_link' | translate }}</li>
  </ol>

  <div class="row">

  <article class="col-xs-12 maincontent">
  <header class="page-header">
    <h1 class="page-title">{{ 'signup.registration' | translate }}</h1>
  </header>

  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="thin text-center">{{ 'signup.register' | translate }}</h3>
        <p class="text-center text-muted">{{ 'signup.have_you' | translate }} <a href="/signin">{{ 'signup.login' | translate }}</a> to your account. </p>
        <hr>

        <form>
          <div class="top-margin">
            <label>{{ 'signup.name' | translate }}</label>
            <input type="text" class="form-control">
          </div>
          <div class="top-margin">
            <label>{{ 'signup.lastname' | translate }}</label>
            <input type="text" class="form-control">
          </div>
          <div class="top-margin">
            <label>{{ 'signup.email' | translate }} <span class="text-danger">*</span></label>
            <input type="text" class="form-control">
          </div>

          <div class="row top-margin">
            <div class="col-sm-6">
              <label>{{ 'signup.password' | translate }} <span class="text-danger">*</span></label>
              <input type="text" class="form-control">
            </div>
            <div class="col-sm-6">
              <label>{{ 'signup.confirm' | translate }}<span class="text-danger">*</span></label>
              <input type="text" class="form-control">
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-lg-8">
              <label class="checkbox">
                <input type="checkbox">
                {{ 'signup.read' | translate }} <a href="page_terms.html">{{ 'signup.terms' | translate }}</a>
              </label>
            </div>
            <div class="col-lg-4 text-right">
              <button class="btn btn-action" type="submit">{{ 'signup.registration_link' | translate }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

</article>

  </div>
</div>
</div>
