
<header id="head" class="secondary"></header>
<div class="main-menu">
<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <li><a href="#">{{ 'postcards.home' | translate }}</a></li>
    <li class="active">{{ 'postcards.postcards' | translate }}</li>
  </ol>

  <div class="row">

    <!-- Article main content -->
    <article class="col-sm-8 maincontent">
      <header class="page-header">
        <h1 class="page-title"></h1>
      </header>
      <h3>{{ 'postcards.bpostcards' | translate }}</h3>
      <p><img src="../../assets/images/mac.jpg" alt="" class="img-rounded pull-right" width="300" >{{ 'postcards.boom_cards' | translate }}</p>
      <p>{{ 'postcards.a_boom_postcard' | translate }}</p>
      <p>{{ 'postcards.a_boom_card' | translate }}</p>
    </article>
    <!-- /Article -->

    <!-- Sidebar -->
    <!--<aside class="col-sm-4 sidebar sidebar-right">-->

      <!--<div class="widget">-->
        <!--<h4>Vacancies</h4>-->
        <!--<ul class="list-unstyled list-spaces">-->
          <!--<li><a href="">Lorem ipsum dolor</a><br><span class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.</span></li>-->
          <!--<li><a href="">Totam, libero, quis</a><br><span class="small text-muted">Suscipit veniam debitis sed ipsam quia magnam eveniet perferendis nisi.</span></li>-->
          <!--<li><a href="">Enim, sequi dignissimos</a><br><span class="small text-muted">Reprehenderit illum quod unde quo vero ab inventore alias veritatis.</span></li>-->
          <!--<li><a href="">Suscipit, consequatur, aut</a><br><span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis amet cupiditate.</span></li>-->
          <!--<li><a href="">Nam, illo, veritatis</a><br><span class="small text-muted">Delectus, sapiente illo provident quo aliquam nihil beatae dignissimos itaque.</span></li>-->
        <!--</ul>-->
      <!--</div>-->

    <!--</aside>-->
    <!-- /Sidebar -->

  </div>
</div>	<!-- /container -->
</div>


