
<header id="head" class="secondary"></header>
<div class="main-menu">
<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li class="active">Postcards</li>
  </ol>

  <div class="row">

    <!-- Article main content -->
    <article class="col-sm-8 maincontent">
      <header class="page-header">
        <h1 class="page-title"></h1>
      </header>
      <h3>BPostcard with photo</h3>
      <p><img src="../../assets/images/mac.jpg" alt="" class="img-rounded pull-right" width="300" >Boom cards are extremely popular today, because they are rightfully considered the most unusual present. Strictly speaking, in itself such a postcard can hardly be a gift; rather, it complements the main gift, which after such an “addition” can be arbitrarily banal. </p>
      <p>A boom postcard (also known as a BOOM postcard or an exploding postcard) is a three-dimensional postcard that explodes (conditionally) in the hands of the person who tries to open it. There is a soft bang and confetti fly around. It all looks very bright and most importantly - unexpectedly. That is, the cotton is not so loud as to scare a person, because the task of a postcard is to surprise.</p>
      <p>A boom card is guaranteed to give a sincere smile and for some time a person will not even know what to say. He will definitely remember this holiday, your gift and you personally. Therefore, an exploding card is ideal for pleasantly surprising someone important to you.</p>
    </article>
    <!-- /Article -->

    <!-- Sidebar -->
    <!--<aside class="col-sm-4 sidebar sidebar-right">-->

      <!--<div class="widget">-->
        <!--<h4>Vacancies</h4>-->
        <!--<ul class="list-unstyled list-spaces">-->
          <!--<li><a href="">Lorem ipsum dolor</a><br><span class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.</span></li>-->
          <!--<li><a href="">Totam, libero, quis</a><br><span class="small text-muted">Suscipit veniam debitis sed ipsam quia magnam eveniet perferendis nisi.</span></li>-->
          <!--<li><a href="">Enim, sequi dignissimos</a><br><span class="small text-muted">Reprehenderit illum quod unde quo vero ab inventore alias veritatis.</span></li>-->
          <!--<li><a href="">Suscipit, consequatur, aut</a><br><span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis amet cupiditate.</span></li>-->
          <!--<li><a href="">Nam, illo, veritatis</a><br><span class="small text-muted">Delectus, sapiente illo provident quo aliquam nihil beatae dignissimos itaque.</span></li>-->
        <!--</ul>-->
      <!--</div>-->

    <!--</aside>-->
    <!-- /Sidebar -->

  </div>
</div>	<!-- /container -->
</div>


