<header id="head" class="secondary"></header>
<div class="main-menu">

  <div class="container">

    <ol class="breadcrumb">
      <li><a href="#">{{ 'postcards.home' | translate }}</a></li>
      <li class="active">{{ 'postcards.postcards' | translate }}</li>
    </ol>

    <div class="row">

      <article class="col-sm-8 maincontent">
        <header class="page-header">
          <h1 class="page-title"></h1>
        </header>
        <h3>{{ 'postcards.bpostcards' | translate }}</h3>
        <p><img src="../../assets/images/postcard.jpg" alt="" class="img-rounded pull-right" width="150">{{
          'postcards.boom_cards' | translate }}</p>
        <p>{{ 'postcards.a_boom_postcard' | translate }}</p>
        <p>{{ 'postcards.a_boom_card' | translate }}</p>
      </article>
    </div>
  </div>
</div>


